.MessageWrapperFromYou {
    background-color: rgb(52, 52, 52);
    display: flex;
    align-items: end;
    flex-direction: column;
}

.MessageWrapperFromOther {
    background-color: rgb(52, 52, 52);
    display: flex;
    align-items: start;
    flex-direction: column;
}

.TextFromYou {
    width: fit-content;
    max-width: 10em;
    background-color: #0091ff;
    color: #e2e2e2;
    padding: 0.3em;
    border-radius: 10px;
}

.TextSentFromOther {
    width: fit-content;
    max-width: 10em;
    color: #e2e2e2;
    background-color: #737373;
    padding: 0.3em;
    border-radius: 10px;
}

.sentFromIndicator {
    color: #9a9999;
}