.MessageWrapperFromYou {
    display: flex;
    align-items: end;
    flex-direction: column;
}

.MessageWrapperFromOther {
    display: flex;
    align-items: start;
    flex-direction: column;
}

.TextFromYou {
    max-width: 25em;
    overflow-wrap: break-word;
    background-color: #0091ff;
    color: #e2e2e2;
    padding: 0.3em;
    border-radius: 10px;
}

.TextSentFromOther {
    color: #e2e2e2;
    background-color: #737373;
    padding: 0.3em;
    border-radius: 10px;
}

.sentFromIndicator {
    color: #9a9999;
}