.wrapper {
    height: 100vh;
    width: 100vw;
    /* background-color: blue; */
    display: flex;

}

.nav {
    width: 15vw;
    height: 100vh;
    background-color: red;
    display: flex;
    flex-direction: column;
}

.navBtnList {
    background-color: aqua;
    height: 70%;
    display: flex;
    flex-direction: column;
    margin-top: 7em;
}

.navBtn {
    background-color: darkgreen;
    padding: 1.5em 0;
    border-radius: 5px;
}